<div class="blog">
    <div class="title">
        <span><a href="/post/{{id}}">{{title}}</a></span><span>Posted by {{user.name}} on {{date_created}}</span>
        <br>
        <span>{{comments.length}} {{format_plural "comment" comments.length}}</span>
    </div>
    <div class="post">
        <p>{{description}}</p>
    </div>
</div>